{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{{ request.breadcrumbs.title }}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block css %}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">

  <!-- Your stuff: Third-party css libraries go here -->

  {% endblock %}
</head>

<body>

    <!-- Collect the nav links, forms, and other content for toggling -->
<div class="container">
    <a href="/">Home</a> -
    <a href="/creation/">Creation page</a> -
    <a href="/posts/">All authors</a>
    <hr />
</div>

<div class="container">

    <h1>{% block header %}MICROBLOG{% endblock %} - <small>DjangoViewHiearchy example</small></h1>
  {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <div class="row m-t-2">
    <div class="panel">
        {% for breadcrumb in request.breadcrumbs %}
            {{ breadcrumb|safe }}
            {% if not forloop.last %}
             &gt;
            {% endif %}
        {% endfor %}
    </div>
  </div>
  <hr />

  {% block content %}
  <div class="row m-t-2">
    {% block main %}
    <p>Use this document as a way to quick start any new project.</p>
    <p>The current template is loaded from
      <code>django_view_hierarchy/example/templates/base.html</code>. </p>
    <p>Whenever you overwrite the contents of <code>django_view_hierarchy/example/django_view_hierarchy/urls.py</code> with your
      own content, you should see it here.</p>
    {% endblock main %}
  </div>
  {% endblock content %}

</div> <!-- /container -->

{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
<!-- Latest JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<!-- Tether - a requirement for Bootstrap tooltips -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

<!-- Your stuff: Third-party javascript libraries go here -->

{% endblock javascript %}
</body>
</html>

